.form-control{
	width: 40%;
	margin: 0 auto;
}

.bg-snow {
  background: linear-gradient(rgba(255,255,255,.35), rgba(255,255,255,.35)), url("https://upload.wikimedia.org/wikipedia/commons/e/e0/Albigna01.PNG");
  background-size: cover;
}
